html{
	height: 100%; 
	width: 100%;	
}


body{
	background:gray !important;
	margin: 0 !important;
    padding: 0 !important;
}


p{
    color: black !important; 
}

/*Style for the preview */


#preview{
    line-height:90px;
	width: 575px;
    height: 650px;
	border:5px solid black;
	margin:0 auto;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}



/*Style for the images */

img{

	width: 225px;
    height: 225px;
    border: 7px solid #fff;
    border-radius: 50%;
}


#nicknametext{

    display: none;
}

